################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/BrazosApp/wwwroot/Images/UsersSignature
/BrazosApp/wwwroot/PermitDocuments
/BrazosApp/.config
/BrazosAPI/Properties
/BrazosAPI/appsettings.json
/BrazosApp/appsettings.json
/BrazosAPI/appsettings.Development.json
/BrazosApp/appsettings.Development.json
/BrazosApp/bin
/BrazosAPI/bin
/BrazosApp.DataAccess/bin
/BrazosApp.Models/bin
/BrazosApp.RenewalCronApp/bin
/BrazosApp.Utility/bin
/BrazosApp.Utility/obj/Debug/net6.0/ref/BrazosApp.Utility.dll
/BrazosApp.Utility/obj/Debug/net6.0/refint/BrazosApp.Utility.dll
/BrazosApp.Utility/obj/Debug/net6.0/BrazosApp.Utility.AssemblyInfo.cs
/BrazosApp.Utility/obj/Debug/net6.0/BrazosApp.Utility.AssemblyInfoInputs.cache
/BrazosApp.Utility/obj/Debug/net6.0/BrazosApp.Utility.dll
/BrazosApp.Utility/obj/Debug/net6.0/BrazosApp.Utility.pdb
/BrazosApp.Utility/obj/Debug/net6.0/BrazosApp.Utility.sourcelink.json
/BrazosApp.Utility/bin/Debug/net6.0/BrazosApp.Utility.pdb
/BrazosApp.Utility/bin/Debug/net6.0/BrazosApp.Utility.dll
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/appsettings.Development.json
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/appsettings.json
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/BrazosApp.DataAccess.dll
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/BrazosApp.DataAccess.pdb
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/BrazosApp.dll
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/BrazosApp.exe
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/BrazosApp.Models.dll
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/BrazosApp.Models.pdb
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/BrazosApp.pdb
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/BrazosApp.RenewalCronApp.dll
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/BrazosApp.RenewalCronApp.exe
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/BrazosApp.RenewalCronApp.pdb
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/BrazosApp.Utility.dll
/BrazosApp.RenewalCronApp/bin/Debug/net6.0/BrazosApp.Utility.pdb
/BrazosApp.RenewalCronApp/obj/Debug/net6.0/refint/BrazosApp.RenewalCronApp.dll
/BrazosApp.RenewalCronApp/obj/Debug/net6.0/ref/BrazosApp.RenewalCronApp.dll
/BrazosApp.RenewalCronApp/obj/Debug/net6.0/apphost.exe
/BrazosApp.RenewalCronApp/obj/Debug/net6.0/BrazosApp.RenewalCronApp.AssemblyInfo.cs
/BrazosApp.RenewalCronApp/obj/Debug/net6.0/BrazosApp.RenewalCronApp.AssemblyInfoInputs.cache
/BrazosApp.RenewalCronApp/obj/Debug/net6.0/BrazosApp.RenewalCronApp.csproj.AssemblyReference.cache
/BrazosApp.RenewalCronApp/obj/Debug/net6.0/BrazosApp.RenewalCronApp.dll
/BrazosApp.RenewalCronApp/obj/Debug/net6.0/BrazosApp.RenewalCronApp.pdb
/BrazosApp.RenewalCronApp/obj/Debug/net6.0/BrazosApp.RenewalCronApp.sourcelink.json
/BrazosAPI/bin/Debug/net6.0/appsettings.Development.json
/BrazosAPI/bin/Debug/net6.0/appsettings.json
/BrazosAPI/bin/Debug/net6.0/BrazosAPI.dll
/BrazosAPI/bin/Debug/net6.0/BrazosAPI.exe
/BrazosAPI/bin/Debug/net6.0/BrazosAPI.pdb
/BrazosAPI/bin/Debug/net6.0/BrazosApp.DataAccess.dll
/BrazosAPI/bin/Debug/net6.0/BrazosApp.DataAccess.pdb
/BrazosAPI/bin/Debug/net6.0/BrazosApp.Models.dll
/BrazosAPI/bin/Debug/net6.0/BrazosApp.Models.pdb
/BrazosAPI/bin/Debug/net6.0/BrazosApp.Utility.dll
/BrazosAPI/bin/Debug/net6.0/BrazosApp.Utility.pdb
/BrazosAPI/obj/Debug/net6.0/apphost.exe
/BrazosAPI/obj/Debug/net6.0/BrazosAPI.AssemblyInfo.cs
/BrazosAPI/obj/Debug/net6.0/BrazosAPI.AssemblyInfoInputs.cache
/BrazosAPI/obj/Debug/net6.0/BrazosAPI.csproj.AssemblyReference.cache
/BrazosAPI/obj/Debug/net6.0/BrazosAPI.dll
/BrazosAPI/obj/Debug/net6.0/BrazosAPI.pdb
/BrazosAPI/obj/Debug/net6.0/BrazosAPI.sourcelink.json
/BrazosAPI/obj/Debug/net6.0/refint/BrazosAPI.dll
/BrazosAPI/obj/Debug/net6.0/ref/BrazosAPI.dll
/BrazosApp/bin/Debug/net6.0/appsettings.Development.json
/BrazosApp/bin/Debug/net6.0/appsettings.json
/BrazosApp/bin/Debug/net6.0/BrazosApp.DataAccess.dll
/BrazosApp/bin/Debug/net6.0/BrazosApp.DataAccess.pdb
/BrazosApp/bin/Debug/net6.0/BrazosApp.dll
/BrazosApp/bin/Debug/net6.0/BrazosApp.exe
/BrazosApp/bin/Debug/net6.0/BrazosApp.Models.dll
/BrazosApp/bin/Debug/net6.0/BrazosApp.Models.pdb
/BrazosApp/bin/Debug/net6.0/BrazosApp.pdb
/BrazosApp/bin/Debug/net6.0/BrazosApp.Utility.dll
/BrazosApp/bin/Debug/net6.0/BrazosApp.Utility.pdb
/BrazosApp/obj/Debug/net6.0/apphost.exe
/BrazosApp/obj/Debug/net6.0/BrazosApp.AssemblyInfo.cs
/BrazosApp/obj/Debug/net6.0/BrazosApp.AssemblyInfoInputs.cache
/BrazosApp/obj/Debug/net6.0/BrazosApp.csproj.AssemblyReference.cache
/BrazosApp/obj/Debug/net6.0/BrazosApp.dll
/BrazosApp/obj/Debug/net6.0/BrazosApp.pdb
/BrazosApp/obj/Debug/net6.0/BrazosApp.sourcelink.json
/BrazosApp/obj/Debug/net6.0/refint/BrazosApp.dll
/BrazosApp/obj/Debug/net6.0/ref/BrazosApp.dll
/BrazosApp.DataAccess/bin/Debug/net6.0/BrazosApp.DataAccess.dll
/BrazosApp.DataAccess/bin/Debug/net6.0/BrazosApp.DataAccess.pdb
/BrazosApp.DataAccess/bin/Debug/net6.0/BrazosApp.Models.dll
/BrazosApp.DataAccess/bin/Debug/net6.0/BrazosApp.Models.pdb
/BrazosApp.DataAccess/bin/Debug/net6.0/BrazosApp.Utility.dll
/BrazosApp.DataAccess/bin/Debug/net6.0/BrazosApp.Utility.pdb
/BrazosApp.DataAccess/obj/Debug/net6.0/BrazosApp.DataAccess.AssemblyInfo.cs
/BrazosApp.DataAccess/obj/Debug/net6.0/BrazosApp.DataAccess.AssemblyInfoInputs.cache
/BrazosApp.DataAccess/obj/Debug/net6.0/BrazosApp.DataAccess.csproj.AssemblyReference.cache
/BrazosApp.DataAccess/obj/Debug/net6.0/BrazosApp.DataAccess.dll
/BrazosApp.DataAccess/obj/Debug/net6.0/BrazosApp.DataAccess.pdb
/BrazosApp.DataAccess/obj/Debug/net6.0/BrazosApp.DataAccess.sourcelink.json
/BrazosApp.DataAccess/obj/Debug/net6.0/ref/BrazosApp.DataAccess.dll
/BrazosApp.DataAccess/obj/Debug/net6.0/refint/BrazosApp.DataAccess.dll
/BrazosApp.Models/obj/Debug/net6.0/ref/BrazosApp.Models.dll
/BrazosApp.Models/obj/Debug/net6.0/refint/BrazosApp.Models.dll
/BrazosApp.Models/obj/Debug/net6.0/BrazosApp.Models.AssemblyInfo.cs
/BrazosApp.Models/obj/Debug/net6.0/BrazosApp.Models.AssemblyInfoInputs.cache
/BrazosApp.Models/obj/Debug/net6.0/BrazosApp.Models.dll
/BrazosApp.Models/obj/Debug/net6.0/BrazosApp.Models.pdb
/BrazosApp.Models/obj/Debug/net6.0/BrazosApp.Models.sourcelink.json
/BrazosApp.Models/bin/Debug/net6.0/BrazosApp.Models.dll
/BrazosApp.Models/bin/Debug/net6.0/BrazosApp.Models.pdb
