@model ForgetPasswordVM

@{
      ViewData["Title"] = "Forgot Password";
}

<style>
      body {
          background: lightgray;
      }

      .container {
          width: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%)
      }

          .container h1 {
              color: #8B9BB2;
              text-align: center;
          }

      .form-group label {
          font-weight: light;
          font-size: medium;
          padding: 2px;
      }

      .form-group input {
          font-size: medium;
      }

      .card a {
          text-align: center;
          font-size: 17px;
          color: #7aa1db;
      }

          .card a:hover {
              color: #022E5F;
          }

      .row {
          padding-top: 8px;
      }
</style>



<div class="offset-md-4 offset-lg-4 offset-sm-2 offset-xs-1 login-box mx-auto">
      <!-- /.login-logo -->
      <div class="card card-outline" style="border-end-start-radius:10px;border-end-end-radius:10px;border-start-start-radius:10px;border-start-end-radius:10px;border-top:3px solid #022E5F">
            <div class="card-header text-center">
                  <img src="~/Images/Logo/logoclient.png" alt="BrazosApp" style="height:100px; width:100px" />
            </div>
            <div class="card-body">
                  <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                  <form method="post" action="/ForgetPassword">
                        <div class="row">
                              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                              <div class="col-12">
                                    <div class="form-group">
                                          <div class="input-group rounded-pill shadow mb-3">
                                                <span style="background-color:#fff;border-right:hidden" class="input-group-text"><i class="fa fa-user"></i></span>
                                                <input style="border-left:hidden" asp-for="BHCD" id="bhcd" placeholder="Enter your BCHD" class="form-control"  />
                                          </div>
                                          <span id="bhcderror" class="text-danger"></span>
                                    </div>
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-12">
                                    <div class="form-group">
                                          <div class="input-group rounded-pill shadow mb-3">
                                                <span style="background-color:#fff;border-right:hidden" class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                <input asp-for="EmailId" type="text" id="emailId" style="border-left:hidden" placeholder="Enter your Registered EmailId" id="pas" class="form-control" />
                                          </div>
                                          <span id="Emailerror" class="text-danger"></span>
                                    </div>
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                                    <div class="icheck-marine">
                                          <input type="checkbox" id="robot" asp-for="IamNotRobotChk">
                                          <label style="font-weight:normal" for="robot">
                                                I am not a Robot
                                          </label>
                                    </div>
                                    <span id="checkboxErr" class="text-danger"></span>
                              </div>
                              <div class="col-md-5 col-lg-5 col-xs-12 col-sm-12 ">
                                    <button type="button" class="btn btn-block btn-custom btn-sm" onclick="Submit()">Submit</button>
                              </div>
                        </div>
                  </form>
                  <div class="row">
                        <div class="col-12">
                              <div style="text-align:center">
                                    <a href="/InspectorLogin">Back To Login</a>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-12 mb-1">
                              <div style="text-align:center;margin-top:6px">
                                    <a href="/">Go To Home Page</a>
                              </div>
                        </div>
                  </div>
            </div>
            <!-- /.card-body -->
      </div>
      <!-- /.card -->
</div>



@section Scripts{

      <partial name="_ValidationScriptsPartial.cshtml" />

      <script>
            $(function () {
                $('#head').css('display', 'none');
                $('#foot').css('display', 'none');
            });

            var msg = "@(TempData["Msg"] as string)";
            if (msg != "") {
                $('audio#success_sound')[0].play();
                setTimeout(() => {
                    toastr.success(msg);
                }, 500)
            }

            var err = "@(TempData["Err"] as string)";
            if (err != "") {
                //toastr.error(err);
                $('audio#errorsound')[0].play();
                setTimeout(() => {
                    toastr.error(err);
                }, 775)
            }

            function ValidateCheckBox() {
                console.log($('#robot').is(':checked'));
                if ($('#robot').is(':checked') == false) {
                    $('#checkboxErr').text("ⓘ Required ");
                    setTimeout(() => {
                        $('#checkboxErr').html("");
                    }, 2000)
                    return false;
                }
                if ($('#robot').is(':checked') == true) {
                    return true;
                }
            }


            function validate()
            {
                var flg = 0;
                let EmailPattern = new RegExp("([!#-'*+/-9=?a-z^-~-]+(\.[!#-'*+/-9=?a-z^-~-]+)*|\"\(\[\]!#-[^-~ \t]|(\\[\t -~]))+\")@@([!#-'*+/-9=?a-z^-~-]+(\.[!#-'*+/-9=?a-z^-~-]+)*|\[[\t -z^-~]*])");
                var BHCDPattern = new RegExp("^[0-9]{5}$");
                if ($('#bhcd').val() == "") {
                    $('#bhcderror').text("ⓘ Required Field ");
                    setTimeout(() => {
                        $('#bhcderror').html("");
                    }, 4000)
                    flg = 1;
                }
                if ($('#emailId').val() == "") {
                    $('#Emailerror').text("ⓘ Required Field ");
                    setTimeout(() => {
                        $('#Emailerror').html("");
                    }, 4000)
                    flg = 1;
                }
                if ($('#emailId').val() != "" && EmailPattern.test($('#emailId').val()) == false) {
                    $('#Emailerror').text("ⓘ Invalid Email ");
                    setTimeout(() => {
                        $('#Emailerror').html("");
                    }, 4000)
                    flg = 1;
                }

                if ($('#bhcd').val() != "" && BHCDPattern.test($('#bhcd').val()) == false) {
                    $('#bhcderror').text("ⓘ Invalid BHCD ");
                    setTimeout(() => {
                        $('#bhcderror').html("");
                    }, 4000)
                    flg = 1;
                }

                if ($('#robot').is(':checked') == false) {
                    $('#checkboxErr').text("ⓘ Required ");
                    setTimeout(() => {
                        $('#checkboxErr').html("");
                    }, 4000)
                    flg = 1;
                }

                if (flg == 1) { return "Invalid" }
                else { return "Valid" }
            }

            function Submit()
            {
                  var str = validate();
                  if (str == "Invalid") {
                      return false;
                  }
                  else if (str == "Valid") {
                    var formData = new FormData();
                    formData.append('BHCD', $('#bhcd').val());
                    formData.append('EmailId', $('#emailId').val());
                    formData.append('IamNotRobotChk', $('#robot').val());
                    console.log(formData);

                    $.ajax({
                          type: "POST",
                          //url: "https://localhost:44394/ForgetPassword",
                          url: "/Inspector/ForgetPassword",
                          data: formData,
                          contentType: false,
                          processData: false,
                          success: function (data) {
                              console.log(data);
                              if(data.success){
                                    $('audio#success_sound')[0].play();
                                          setTimeout(() => {
                                          toastr.success(data.msg);
                                    }, 500)
                              }
                              else{
                                    $('audio#errorsound')[0].play();
                                          setTimeout(() => {
                                          toastr.error(data.msg);
                                    }, 775)
                              }
                          },
                          complete: function(){
                                $('#bhcd').val("");
                                $('#emailId').val("")
                                $('#robot').prop('checked', false);
                          }
                    })
                  }
            }
      </script>
}
