<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .watermark {
            width: 300px;
            height: 100px;
            display: block;
            position: relative;
        }

        .watermark::after {
            content: "";
            background: url(https://stagebrazos.inspect2go44.com/Images/Logo/logoclient.png), center;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.2;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    </style>
</head>
<body>
    <div style="width: 816px; height: 50px;"></div>
    <div class="watermark" style="width: 816px; height: 528px; border: 1px solid black; ">
        <div style="width: 816px; float: left; padding-top: 10px;">
            <div style="width: 500px; float: left; padding-left: 15px;">
                <div style="width: 500px; float: left; font-size: 20pt; font-weight: bold; font-family: Arial; padding-bottom: 5px; padding-top: 5px;">
                    <i>2024 Food Permit</i>
                </div>
                <div style="width: 500px; float: left; font-size: 14pt; font-weight: bold; font-family: Arial; padding-bottom: 5px;">
                    Brazos County Health District
                </div>
                <div style="width: 500px; float: left; padding-left: 25px;">
                    201 NORTH TEXAS AVENUE <br />
                    BRYAN TX 77803 <br />
                    (979) 361-4440
                </div>
            </div>
            <div style="width: 300px; float: left; position: relative; padding-bottom: 5px; padding-top: 5px; text-align: center;">
                <img src="https://stagebrazos.inspect2go44.com/Images/Logo/logoclient.png" height="100px" width="100px" />
            </div>
        </div>
        <div style="width: 816px; float: left; padding-left: 35px; padding-top: 20px; font-size: 12pt; font-weight: bold; font-family: Arial;">
            <i>Establishment Code No.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>BR-1660</u>
        </div>
        <div style="width: 816px; float: left; padding-left: 35px; padding-top: 10px; font-size: 12pt; font-weight: bold; font-family: Arial;">
            THIS IS TO CERTIFY THAT:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>JEREMY STARK</u>
        </div>
        <div style="width: 816px; float: left; padding-left: 35px; padding-top: 10px; font-size: 12pt; font-weight: bold; font-family: Arial; ">
            <i>Owner of:</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u style="color: red;">101, THE</u>
        </div>
        <div style="width: 816px; float: left; padding-left: 35px; padding-top: 10px; font-size: 12pt; font-weight: bold; font-family: Arial;">
            Meets the minimum requirements to operate a: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>2A FOOD ESTABLISHMENT</u>
        </div>
        <div style="width: 816px; float: left; padding-left: 35px; padding-top: 10px; font-size: 12pt; font-weight: bold; font-family: Arial;">
            at: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>101 S TEXAS AVE BRYAN, TX 77807</u>
        </div>
        <div style="width: 816px; float: left; padding-left: 35px; padding-top: 20px; font-size: 12pt; font-weight: bold; font-family: Arial;">
            Issued by: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>signature image</u>
        </div>
        <div style="width: 816px; float: left; padding-top: 70px; font-size: 12pt; font-weight: bold; font-family: Arial; text-align: center;">
            Permit remains in effect until&nbsp;&nbsp;<u>12/31/2023</u>&nbsp;&nbsp;or until removed for non compliance with
        </div>
        <div style="width: 816px; float: left; padding-top: 10px; font-size: 12pt; font-weight: bold; font-family: Arial; text-align: center;">
            minimum State or Local regulatory standards.
        </div>
        <div style="width: 816px; float: left; padding-top: 10px; font-size: 12pt; font-weight: bold; font-family: Arial; text-align: center;">
            Notify the health authority in the event of an imminent health hazard.
        </div>
    </div>

</body>
</html>