@model ResetPasswordVM

<div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:#A48464" class="modal-title" id="exampleModalLabel">Reset Password</h5>
                @* <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button> *@
            </div>
            <div class="modal-body">
                  <form action="/Reset_Password" enctype="multipart/form-data" id="PasswordReset">
                    <div class="card card-outline" style="border-top:3px solid #022E5F">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label style="font-weight:600" class="col-form-label">Current Password <span style="font-size: 20px ;color:red">&#42;</span></label>
                                        <div class="input-group rounded-pill shadow mb-3">
                                            <input type="password" style="border-right:hidden" id="curpas" asp-for="CurrentPassword" class="form-control" />
                                            <span style="background-color:#fff" class="input-group-text "><i style="cursor:pointer" id="showhideicon1" onclick="showhide1();" class="fas fa-eye"></i></span>
                                        </div>
                                        <span id="curpaserror" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label style="font-weight:600" class="col-form-label">New Password <span style="font-size: 20px ;color:red">&#42;</span></label>
                                        <div class="input-group rounded-pill shadow mb-3">
                                            <input type="password" style="border-right:hidden" id="newpas" asp-for="NewPassword" class="form-control" />
                                            <span style="background-color:#fff" class="input-group-text "><i style="cursor:pointer" id="showhideicon2" onclick="showhide2();" class="fas fa-eye"></i></span>
                                        </div>
                                        <span id="newpaserror" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label style="font-weight:600" class="col-form-label">Confirm New Password <span style="font-size: 20px ;color:red">&#42;</span></label>
                                        <div class="input-group rounded-pill shadow mb-3">
                                            <input type="password" style="border-right:hidden" id="conpas" asp-for="ConfirmPassword" class="form-control" />
                                            <span style="background-color:#fff" class="input-group-text "><i style="cursor:pointer" id="showhideicon3" onclick="showhide3();" class="fas fa-eye"></i></span>
                                        </div>
                                        <span id="conpaserror" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg btn-outline-secondary float-right" onclick="Modalert()"> Cancel</button>
                        <button type="button" class="btn btn-lg btn-custom float-right" onclick="return Resetpassword()"><i id="spin" style="display:none" class="fas fa-spinner fa-spin mr-2"></i><i id="saveicon" class="fa fa-save mr-2"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

